h1{
	font-family: 'Fjalla One', sans-serif;
	color: azure;
	
	
}


p{
	font-family: 'Open Sans Condensed', sans-serif;
	color: darkgray;
}


h5{
	font-family:  'Fjalla One', sans-serif;
	color: darkgrey;
}
